<section class="main">
  <div class="nav">
    <app-nav-bar></app-nav-bar>
  </div>


  <div><img class="largeCircle" src="../assets/styleSvg/collect_img-video.png" alt=""></div>
  
  <div class="mainBody">
    <div class="mainText">
      <h3 style="margin-bottom: 10px;">We make it Super <br> Simple</h3>
      <hr>
    </div>
    <div class="eligCalc"><app-eligi-calc></app-eligi-calc></div>
  </div>
</section>


<section class="secondPage">
  <div>
    <app-sec-page></app-sec-page>
  </div>

  
  <div class="text">
    <h3>Boost your business <br> with Open</h3>
    <hr>
    <p class="grey">Get your hands on a term loan that’s <br> crafted for your business</p>
    <a href="" class="loginBtn" style="width: 20%;">Get an Open Account</a>
  </div>
</section>